prepend body

div.container
    div.masthead
      h3 Aquaria // #{title}
      div.navbar
        div.navbar-inner
          div.container
            ul.nav
              li: a(href='/') Index
              li: a(href='/graph') Graph
              li: a(href='/about') About
              li: a(href='/temp') Temperature
