extends layout

block content
  div.container
    div.masthead
      h3= title
      div.navbar
        div.navbar-inner
          div.container
            ul.nav
              li.active: a(href='#') Test
              li: a(href='#') Test 2
              li: a(href='#') Test 3
